.pageSticker {
	position: absolute;
	width: var(--sticker-width);
	height: var(--sticker-height);
	backface-visibility: hidden;
}

.pageSticker .stickerNumber {
	top: 6%;
	left: 50%;
	transform: translate(-50%, 0);
}

.pageSticker.logoBorder {
	border-image: linear-gradient(
			to left,
			rgb(194, 255, 182),
			rgb(255, 163, 182),
			rgb(221, 169, 255),
			rgb(162, 209, 255)
		)
		1;
}
