.stickerPackZoom {
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100vw;
	height: 100vh;
	transition: background-color 0.5s ease-out;
}

.stickerPackZoom.isUsed {
	background-color: initial;
}

.stickerPackZoom > .stickerPackContainer {
	top: 30%;
	left: 30%;
	width: 25vw;
	height: 20vw;
	font-size: 1vw;
}

.stickerPackZoom > .stickerPackContainer > .sticker {
	width: 80%;
	height: 80%;
}

.stickerPackZoom > .stickerPackContainer > .sticker > .stickerPackZoomSticker {
	position: static;
	width: inherit;
	height: inherit;
}
