.stickerPackZoom {
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.7);
	width: 100vw;
	height: 100vh;
	transition: background-color 0.5s ease-out;
}

.stickerPackZoom.isUsed {
	background-color: initial;
}

.stickerPackZoom > .stickerPackContainer {
	top: 25%;
	left: 50%;
	transform: translateX(-50%);
	width: 20vw;
	height: 15vw;
}

.stickerPackZoom > .stickerPackContainer > .sticker {
	width: var(--sticker-width);
	height: var(--sticker-height);
}

.stickerPackZoom > .stickerPackContainer > .sticker > .stickerPackZoomSticker {
	position: static;
	width: var(--sticker-width);
	height: var(--sticker-height);
	top: initial;
	left: initial;
}
