.page {
	position: absolute;
	width: var(--page-width);
	height: var(--page-height);
	transform-style: preserve-3d;
	transform-origin: 0 0;
	transition: transform 1.5s;
	backface-visibility: hidden;
	background-size: 100% 100%;
	box-sizing: border-box;
}

.page.isOdd {
	right: 0;
	transform: rotateY(0deg);
}

.page.isTurned.isOdd {
	transform: rotateY(-180deg);
}

.page.isEven {
	transform: rotateY(180deg);
	transform-origin: 100% 0;
}

.page.isTurned.isEven {
	pointer-events: all;
	transform: rotateY(0deg);
}

.page.isOdd.isPreviewEnabled:hover {
	transform: rotateY(-20deg);
}

.page.isTurned.isEven.isPreviewEnabled:hover {
	transform: rotateY(20deg);
}

/* stickers */
.page .sticker {
	width: calc(var(--page-width) / 3.5);
	height: calc(var(--page-height) / 6);
}

.stickerLayer {
	position: relative;
	width: 100%;
	height: 100%;
}

.stickerLayer.isOdd::before,
.stickerLayer.isEven::before {
	position: absolute;
	top: 0;
	content: '';
	width: 2vw;
	height: 100%;
}

.stickerLayer.isOdd::before {
	left: 0;
	background: linear-gradient(
		90deg,
		rgba(0, 0, 0, 0.5) 0%,
		rgba(255, 255, 255, 0) 100%
	);
}

.stickerLayer.isEven::before {
	right: 0;
	background: linear-gradient(
		-90deg,
		rgba(0, 0, 0, 0.5) 0%,
		rgba(255, 255, 255, 0) 100%
	);
}

.page .sticker .stickerNumber {
	width: 4vw;
	height: 2vw;
	font-size: 2vw;
}
