.dynamicSticker {
	position: absolute;
	width: 16.69em;
	height: 11em;
}

.dynamicSticker > .side {
	transition: transform 0.8s ease;
	perspective: 150rem;
	transform-style: preserve-3d;
	backface-visibility: hidden;
	position: absolute;
	width: inherit;
	height: inherit;
}

.dynamicSticker > .side.back {
	background-size: cover;
	transform: rotateY(-180deg);
}

.dynamicSticker > .side.front {
	background-size: 200% 400%;
}
.dynamicSticker > .side.front.isTurned {
	transform: rotateY(180deg);
}

.dynamicSticker > .side.back.isTurned {
	transform: rotateY(0deg);
}

.dynamicSticker .pageNumber {
	top: 6%;
	left: 35%;
}
