.dynamicSticker {
	position: absolute;
	perspective: 150rem;
	width: 31.25em;
	height: 20em;
}

.dynamicSticker > .side {
	transition: transform 0.8s ease;
	backface-visibility: hidden;
	position: absolute;
	width: inherit;
	height: inherit;
}

.dynamicSticker > .side.back {
	transform: rotateY(-180deg);
}

.dynamicSticker > .side.front {
	background-size: 200% 400%;
}
.dynamicSticker > .side.front.isTurned {
	transform: rotateY(180deg);
}

.dynamicSticker > .side.back.isTurned {
	transform: rotateY(0deg);
}
