.dynamicSticker {
	position: absolute;
	width: var(--sticker-width);
	height: var(--sticker-height);
}

.dynamicSticker > .side {
	position: absolute;
	width: inherit;
	height: inherit;
}

.dynamicSticker > .side.front {
	background-size: calc(1704px * 0.5) calc(1912px * 0.45);
	background-origin: border-box;
	background-repeat: no-repeat;
}
