.stickerList {
	width: auto;
	height: var(--page-height);
}

.stickerList > .stickers {
	max-height: calc(#{var(--page-height)} - 4rem);
	scroll-snap-points-y: repeat(var(--sticker-height));
	scroll-snap-type: y proximity;
}

.stickerList > .stickers > .sticker {
	width: var(--sticker-width);
	height: var(--sticker-height);
	scroll-snap-align: start;
	box-sizing: border-box;
}

.stickerList > .stickers > .sticker.disabled {
	pointer-events: none;
}

.stickerList .stickerListSticker {
	width: var(--sticker-width);
	height: var(--sticker-height);
	position: static;
	display: flex;
	pointer-events: none;
}

.stickerList > .stickers > .sticker.disabled > .stickerListSticker {
	opacity: 0.5;
	filter: grayscale(1);
}

.stickerList .stickerPackButton {
	background-size: 100% 100%;
}
