.stickerList {
	width: 13vw;
	max-height: 70vh;
}

.stickerList > .stickers > .sticker {
	width: 12vw;
	height: 8vw;
}

.stickerList > .stickers > .sticker.disabled {
	pointer-events: none;
}

.stickerList .stickerListSticker {
	width: 12vw;
	height: 8vw;
	position: static;
	display: flex;
	pointer-events: none;
}

.stickerList > .stickers > .sticker.disabled > .stickerListSticker {
	opacity: 0.5;
	filter: grayscale(1);
}
