.stickerList {
	width: auto;
	height: var(--page-height);
}

.stickerList > .stickers {
	max-height: calc(#{var(--page-height)} - 4rem);
}

.stickerList > .stickers > .sticker {
	width: var(--sticker-width);
	height: var(--sticker-height);
}

.stickerList > .stickers > .sticker.disabled {
	pointer-events: none;
}

.stickerList .stickerListSticker {
	width: var(--sticker-width);
	height: var(--sticker-height);
	position: static;
	display: flex;
	pointer-events: none;
}

.stickerList > .stickers > .sticker.disabled > .stickerListSticker {
}
