.stickerList {
	width: 13vw;
	height: var(--page-height);
	margin: 3em 0;
}

.stickerList > .stickers {
	max-height: calc(#{var(--page-height)} - 4rem);
	will-change: scroll-position;
	transform: translate3d(0, 0, 0);
}

.stickerList > .stickers > .sticker {
	width: var(--sticker-width);
	height: var(--sticker-height);
}

.stickerList > .stickers > .sticker.disabled {
	pointer-events: none;
}

.stickerList .stickerListSticker {
	width: var(--sticker-width);
	height: var(--sticker-height);
	position: static;
	display: flex;
	pointer-events: none;
}

.stickerList > .stickers > .sticker.disabled > .stickerListSticker {
	opacity: 0.5;
	filter: grayscale(1);
}
