.stickerList {
	width: 16.69em;
	max-height: 70vh;
}

.stickerList > .stickers > .sticker {
	width: auto;
	line-height: 11em;
	height: 11em;
	font-size: 0.8em;
}

.stickerList > .stickers > .sticker.disabled {
	pointer-events: none;
	opacity: ;
}

.stickerList .stickerListSticker {
	position: static;
	display: flex;
	pointer-events: none;
}

.stickerList > .stickers > .sticker.disabled > .stickerListSticker {
	opacity: 0.5;
	filter: grayscale(1);
}
