.logoSticker {
	position: absolute;
	perspective: 150rem;
	width: 16.69em;
	height: 11em;
}

.logoSticker > .side {
	transition: transform 0.8s ease;
	backface-visibility: hidden;
	position: absolute;
	width: inherit;
	height: inherit;
}

.logoSticker > .side.back {
	transform: rotateY(-180deg);
	background-size: cover;
}

.logoSticker > .side.front {
	background-size: 100% 100%;
	border-image: linear-gradient(
			to left,
			rgb(194, 255, 182),
			rgb(255, 163, 182),
			rgb(221, 169, 255),
			rgb(162, 209, 255)
		)
		1;
}

.logoSticker > .side.front.isTurned {
	transform: rotateY(180deg);
}

.logoSticker > .side.back.isTurned {
	transform: rotateY(0deg);
}

.logoSticker .pageNumber {
	top: 6%;
	left: 35%;
}
