.page {
	position: absolute;
	width: var(--page-width);
	height: var(--page-height);
	transform-style: preserve-3d;
	transform-origin: 0 0;
	transition: transform 1.5s;
	backface-visibility: hidden;
	background-size: 200% 100%;
}

.page.isCover {
	background-size: 100% 100%;
}

.page.isOdd {
	right: 0;
	pointer-events: all;
	transform: rotateY(0deg);
	background-position: -100% 0;
}

.page.isOdd:hover {
	transform: rotateY(-20deg);
}

.page.isTurned.isOdd {
	pointer-events: none;
	transform: rotateY(-180deg);
}

.page.isEven {
	pointer-events: none;
	transform: rotateY(180deg);
	transform-origin: 100% 0;
	background-position: 200% 0;
}

.page.isTurned.isEven {
	pointer-events: all;
	transform: rotateY(0deg);
}

.page.isTurned.isEven:hover {
	transform: rotateY(20deg);
}
