.page {
	position: absolute;
	width: var(--page-width);
	height: var(--page-height);
	transform-style: preserve-3d;
	transform-origin: 0 0;
	transition: transform 1.5s;
	backface-visibility: hidden;
	background-size: 100% 100%;
	will-change: transform;
}

.page.isOdd {
	right: 0;
	pointer-events: all;
	transform: rotateY(0deg);
}

.page.isOdd:hover {
	transform: rotateY(-20deg);
}

.page.isTurned.isOdd {
	pointer-events: none;
	transform: rotateY(-180deg);
}

.page.isEven {
	pointer-events: none;
	transform: rotateY(180deg);
	transform-origin: 100% 0;
}

.page.isTurned.isEven {
	pointer-events: all;
	transform: rotateY(0deg);
}

.page.isTurned.isEven:hover {
	transform: rotateY(20deg);
}

.page .sticker {
	width: calc(var(--page-width) / 2);
	height: calc(var(--page-height) / 4);
}
