.stickerPack {
	position: absolute;
	width: 25em;
	height: 20em;
}

.stickerPack > .side {
	transition: transform 0.8s ease;
	backface-visibility: hidden;
	perspective: 150rem;
	transform-style: preserve-3d;
	position: absolute;
	width: inherit;
	height: inherit;
}

.stickerPack > .side.back {
	transform: rotateY(-180deg);
	background-size: 100% 100%;
}

.stickerPack > .side.front {
	background-size: 100% 100%;
}

.stickerPack > .side.front.isTurned {
	transform: rotateY(180deg);
}

.stickerPack > .side.back.isTurned {
	transform: rotateY(0deg);
}

.stickerPack > .sticker {
	width: var(--sticker-width);
	height: var(--sticker-height);
	top: 25%;
	left: 10%;
}

.stickerPack .stickerPackSticker {
	width: inherit;
	height: inherit;
	position: static;
	display: flex;
	pointer-events: none;
}

.stickerPack.isUsed {
	perspective: 0;
	transform-style: flat;
}

.stickerPack.isUsed > .side.front {
	animation: stickerPackKeyframes 1.5s ease-in-out forwards;
}

.stickerPack.isUsed > .sticker {
	animation: revealKeyframes 0.7s ease-in-out forwards;
}

.stickerPack.isUsed > .sticker.flyAway {
	animation: flyAwayKeyframes 0.5s ease-out forwards;
}

@keyframes revealKeyframes {
	from {
		transform: translateX(0%);
	}

	to {
		transform: translateX(-60%);
	}
}

@keyframes stickerPackKeyframes {
	0% {
		tranform: initial;
	}

	30% {
		transform: translateX(70%) scale(1) rotate(0);
	}

	100% {
		transform: translate(300%, -200%) scale(0.1) rotate(1000deg);
	}
}

@keyframes flyAwayKeyframes {
	0% {
		transform: translateX(-60%);
	}

	70% {
		transform: translateX(40vw);
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translateX(40vw);
	}
}
