@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-shadow {
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
	}
	.text-shadow-md {
		text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
	}
	.text-shadow-lg {
		text-shadow: 15px 15px 30px rgba(0, 0, 0, 0.7);
	}
	.text-shadow-none {
		text-shadow: none;
	}
}

:root {
	--page-width: 40vw;
	--page-height: 45vw;
	--sticker-width: 12vw;
	--sticker-height: 8vw;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
