.book {
	transition: opacity 0.35s 0.15s;
}

.page {
	float: left;
	width: 25vw;
	height: 40vw;
	margin-bottom: 0.1em;
}

.page:nth-child(even) {
	clear: both;
}

.book {
	perspective: 240vw;
}

.book .pages {
	position: relative;
	width: 50vw;
	height: 40vw;
	transform-style: preserve-3d;
	backface-visibility: hidden;
}
.book .page {
	position: absolute;
	top: 0;
	float: none;
	clear: none;
	margin: 0;
	width: 25vw;
	height: 40vw;
	transform-style: preserve-3d;
	transform-origin: 0 0;
	transition: transform 1.4s;
	backface-visibility: hidden;
	cursor: pointer;
	user-select: none;
}
.book .page:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0);
	transition: background 0.7s;
	z-index: 2;
}
.book .page:nth-child(odd) {
	pointer-events: all;
	transform: rotateY(0deg);
	right: 0;
	border-radius: 0 4px 4px 0;
	background-image: linear-gradient(
		to right,
		rgba(0, 0, 0, 0.15) 0%,
		rgba(0, 0, 0, 0) 10%
	);
}
.book .page:nth-child(odd):hover {
	transform: rotateY(-15deg);
}
.book .page:nth-child(odd):hover:before {
	background: rgba(0, 0, 0, 0.03);
}
.book .page:nth-child(odd):before {
	background: rgba(0, 0, 0, 0);
}
.book .page:nth-child(even) {
	pointer-events: none;
	transform: rotateY(180deg);
	transform-origin: 100% 0;
	left: 0;
	border-radius: 4px 0 0 4px;
	border-color: black;
	background-image: linear-gradient(
		to left,
		rgba(0, 0, 0, 0.12) 0%,
		rgba(0, 0, 0, 0) 10%
	);
}
.book .page:nth-child(even):before {
	background: rgba(0, 0, 0, 0.2);
}
.book .page.flipped:nth-child(odd) {
	pointer-events: none;
	transform: rotateY(-180deg);
}
.book .page.flipped:nth-child(odd):before {
	background: rgba(0, 0, 0, 0.2);
}
.book .page.flipped:nth-child(even) {
	pointer-events: all;
	transform: rotateY(0deg);
}
.book .page.flipped:nth-child(even):hover {
	transform: rotateY(15deg);
}
.book .page.flipped:nth-child(even):hover:before {
	background: rgba(0, 0, 0, 0.03);
}
.book .page.flipped:nth-child(even):before {
	background: rgba(0, 0, 0, 0);
}

.page:nth-child(odd) {
	background-position: right top;
}
