.stickerBook {
	transition: opacity 0.35s 0.15s;
	perspective: 250vw;
	margin: 3em 0;
}

.pageContainer {
	position: relative;
	width: calc(var(--page-width) * 2);
	height: var(--page-height);
	transform-style: preserve-3d;
	backface-visibility: hidden;
}
