.mobileLayout {
	background-size: cover;
	background-repeat: no-repeat;
}

.mobileLayout .textContainer {
	position: absolute;
	top: 39%;
	opacity: 0.8;
}

.mobileLayout .coverText {
	position: absolute;
	top: 39%;
}
